.carousel{
    border:2px solid #011627;
    position: relative;
    width: 100%;
    height:100vh;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    display:flex;
    align-items: center;
    overflow:hidden;
    background:#96E2D9;
}
.slide{
    border:1px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    min-width: 100%;
    height:80%;
    transition: 0.5s;
    margin:0 auto;
    overflow:hidden;


}
#goLeft{
    left:0;
    @extend %btn-styles; 
    font-size: 40px;
}

#goRight{
    right: 0;
    font-size: 40px;
    @extend %btn-styles;
  

}
%btn-styles{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:10%;
    height:80vh;
    background:none;
    border:none;
    outline:none;
    transition:0.5s;
    &:hover{
        background:rgba(0,0,0,0.1);
        color:#96E2D9;
        cursor:pointer;
    }
    
}