.image {
  padding: 5% 5% 0% 5%;
}

.description {
  padding: 5% 5% 0% 5%;
}

.description-juega {
  padding: 10% 10% 0% 0%;
}

.button-conoce-juega {
  margin-top: 6%;
}

.tama-image {
  max-height: 250px;
}

.tama-carousel {
  max-width: 500px;
}

