.form-login{

    background-color: #FDFFFC;
    margin: 15em auto;
    padding: 50px 80px;
    color: #7F8B92;
}

.form-login h1, p{
    color: #7F8B92;
}

.login-form {
    max-width: 300px;
}
 .ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
    background-color: #2EC4B6;
    border: #2EC4B6;
}
.login-form-button:hover{
    background-color: #96E2D9;
}
.login-form-button:focus, .login-form-button:active{
    background-color: #7F8B92;
}