.container-mapag{
    margin:0 auto;

   position: relative;
   transform: translateY(25%);   
  
}
.map-galapagos{
    display:flex;
    align-items: center;
    justify-content: center;       
}
.main-mapa{
    padding: 50px;

}


.map-ecuador{
    display:flex;
   padding:50px;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.map-galapagos path{ 
    stroke:white;
    stroke:#011627;
    stroke-width:2px;
    transition:fill 0.3s;
}
.map-ecuador path{
    stroke:#011627;
    stroke-width:2px;
    transition:fill 0.3s;
}

.map-route{
    background:#96E2D9;
     justify-content: center; 
     //border:5px solid black;
}

.map-galapagos path:hover{
    fill:#F7E400!important; 
    stroke-linejoin: bevel;
    transform-style: preserve-3d;
}
.map-ecuador path:hover{
    fill:#F7E400  !important;
    stroke-linejoin: bevel;
    stroke-width: 3px;
    transform-style: preserve-3d;
}

#ECU1{   
    fill:#FFC370 !important;
}
#ECU2{
    fill:#F7B8BF;    
}
#ECU3{
    fill:#FFC370;
}
#ECU4{
    fill:#36F59E;
}
#ECU5{
    fill:#FFC370;
}
#ECU6{
    fill:#FFC370;
}
#ECU7{
    fill:#FFC370;
}
#ECU8{
    fill:#F7B8BF !important;
}
#ECU9{
    fill:#F7B8BF;
}
#ECU10{
    fill:#F7B8BF;
}
#ECU11{
    fill:#FFC370;
}
#ECU12{
    fill:#36F59E;
}
#ECU13{
    fill:#36F59E;
}
#ECU14{
    fill:#FFC370;
}
#ECU15{
    fill:#36F59E;
}
#ECU16{
    fill:#FFC370;
}
#ECU17{
    fill:#36F59E;
}
#ECU18{
    fill: #F7B8BF;
}
#ECU19{
    fill:#FFC370;
}
#ECU20{
    fill:#FFC370;
}
#ECU21{
    fill:#36F59E;
}  
#ECU22{
    fill: #F7B8BF;
}
#ECU23{
    fill:#F7B8BF;
}
#ECU24{
    fill:#F68860 !important;
}
