.container-mapag{
    margin:0 auto;
    height: 500px;
   position: relative;
   transform: translateY(25%); 
}
.mapa-galapagos{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.mapa-ecuador{
    display:flex;
    padding-right:5px ;
    padding-left:5px ;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    
}
.mapa-ruta{
    background:#96E2D9;
     justify-content: center;
    
}


.mapa-galapagos path{
    fill:white;
    stroke:#011627;
    stroke-width:2px;
    transition:fill 0.3s;
}
.mapa-ecuador path{
    fill:white;
    stroke:#011627;
    stroke-width:2px;
    transition:fill 0.3s;
}

.mapa-galapagos path:hover{
    fill:white !important;
    stroke-linejoin: bevel;
}
.mapa-ecuador path:hover{
    fill:white !important;
    stroke-linejoin: bevel;
}


#ECU1{
    
    fill:#F8AF93;;
}
#ECU2{
    fill: #F7B150;
    
}
#ECU3{
    fill:#F8AF93;
}
#ECU4{
    fill:#F8AF93;;
}
#ECU5{
    fill:#F8AF93;
}
#ECU6{
    fill:#F8AF93;
}
#ECU7{
    fill:#F8AF93;
}
#ECU8{
    fill:#F7B150;
}
#ECU9{
    fill:#F8AF93;
}
#ECU10{
    fill:#F7B150;
}
#ECU11{
    fill:#F8AF93;
}
#ECU12{
    fill:#42D793;
    
}
#ECU13{
    fill:#42D793;
}
#ECU14{
    fill:#F8AF93;
}
#ECU15{
    fill:#42D793;
}
#ECU16{
    fill:#42D793;
}
#ECU17{
    fill:#F8AF93;
}
#ECU18{
    fill: #F7B150;
}
#ECU19{
    fill:#F8AF93;
}
#ECU20{
    fill:#F8AF93;
}
#ECU21{
    fill:#42D793;
}  
#ECU22{
    fill: #F7B150;
}
#ECU23{
    fill:#F7B150;
}
#ECU24{
    fill:#42D793;
}

