.container-mapag{
    margin:0 auto;
    height: 500px;
   position: relative;
   transform: translateY(25%); 
}
.map-galapagos{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.map-ecuador{
    display:flex;
    padding-right:5px ;
    padding-left:5px ;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.map-route{
    background:white;
     justify-content: center; 
}


.map-galapagos path{ 
    stroke:white;
    stroke:#011627;
    stroke-width:2px;
    transition:fill 0.3s;
}
.map-ecuador path{
    stroke:#011627;
    stroke-width:2px;
    transition:fill 0.3s;
}
.map-galapagos path:hover{
    fill:yellow !important;
    stroke:#42D793;
    stroke-linejoin: bevel;
    transform-style: preserve-3d;
}
.map-ecuador path:hover{
    fill:white !important;
    stroke-linejoin: bevel;
    stroke-width: 3px;
    transform-style: preserve-3d;
}
.line-route{
    fill:rgb(173, 51, 197);
    stroke:blue;
}
.line-route path {
    stroke:rgb(173, 51, 197) !important;
      fill:blue;
}   

.line-route path:hover {
      stroke:blue !important;
        fill:blue;
}   

.line-route circle:hover {
    stroke:blue !important;
    fill:blue;
}   


#ECU1{   
    fill:#F8AF93;;
}
#ECU2{
    fill:#F7B150;    
}
#ECU3{
    fill:#F8AF93;
}
#ECU4{
    fill:#42D793;
}
#ECU5{
    fill:#F8AF93;
}
#ECU6{
    fill:#F8AF93;
}
#ECU7{
    fill:#F8AF93;
}
#ECU8{
    fill:#F7B150;
}
#ECU9{
    fill:#F7B150;
}
#ECU10{
    fill:#F7B150;
}
#ECU11{
    fill:#F8AF93;
}
#ECU12{
    fill:#42D793;
}
#ECU13{
    fill:#42D793;
}
#ECU14{
    fill:#F8AF93;
}
#ECU15{
    fill:#42D793;
}
#ECU16{
    fill:#F8AF93;
}
#ECU17{
    fill:#42D793;
}
#ECU18{
    fill: #F7B150;
}
#ECU19{
    fill:#F8AF93;
}
#ECU20{
    fill:#F8AF93;
}
#ECU21{
    fill:#42D793;
}  
#ECU22{
    fill: #F7B150;
}
#ECU23{
    fill:#F7B150;
}
#ECU24{
    fill:#42D793;
}
