
*{
	font-family: 'Montserrat', sans-serif;
}
.container0{
	background: #1b262c;/*main*/
	height: auto;
}
.menunav{
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom:30px;
	border: 5px solid;
	border-color: #1b262c;
}
.imgmenunav{
	background-image:url("../imagenes_inicio/img1.jpg");
	height: auto;
	background-position: center;
	background-attachment: contain;
	background-size: cover;
}

nav.navbar {
background-color: rgba(10, 168, 204, 0.5)!important;

}
.menunav a{
	font-size: 20px;
	color:#142850 !important;/*letra nav*/

}

/*--------------*/

.menunav a:hover{
	color:white !important;
}
/*
.container0 {
	animation-name: example;
  animation-duration: 10s;
}
@keyframes example {
  20%   {background-color: red;}
	30%   {background-color: aqua;}
	50%  {background-color: yellow;}
  80%  {background-color: blue;}
  100% {background-color: green;}
}
*/

/***Justificar parrafos***/
.txt-justify{
	text-align: justify;
}


/*---------pictures--------------------------------------------------------------*/
.container1{
	width: 90% !important;
	background: #0c7b93;/*imgenes*/
	margin:0 auto;
	padding: 10px;
	border: 5px solid;
	border-color: #1b262c;

}
.container1 img{
	border: 3px solid;
	border-color: #bbe1fa;
}
.brdtextimg{
	padding: 20px;
}
.btnsize{
	width:200px;
}

.container1 img{
	cursor:zoom-in;
}

/*----------------------*/
.container1 button:hover{
	background: black !important;
	color:white;
}


/*------footer--------------------------------------------------------------------*/
.container2{
	background-image:url("../imagenes_inicio/img1.jpg");
	height: auto;
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	margin: 0 auto;
	border: 5px solid;
	border-color: #1b262c;
	color:white;
	width: 90%;
}

/*.container2{
	width: 90%;
 background: rgba(10, 168, 204, 0.5)!important;
	margin: 0 auto;
	border: 5px solid;
	border-color: #1b262c;
	color:white;
}*/

.redesocial{
	border-color: #1b262c;
	text-align: center;
	height: 58px;
	font-size: 40px;
}
.iconosredes{
	justify-content: center;
}

/*---------------------*/
.container2 i:hover{
	color: #0c7b93;
}
.clsfooter{
	padding-top: 10px;
}
