html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

.cuerpo{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #0c7b93;
}

.contenedor{
	width: 27em;
	height: 22em;
	padding: 40px;
}

.fg1{
	display: flex;
	justify-content: center;
	font-size: 30px;
	color: #ffffff;
}

.fg2{
	color: #fff;
	font-size: 25px
}